# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js build / output
.next/
.next/cache/
out/
build/

# Local env files (do NOT ignore .env.example)
.env
.env.development.local
.env.test.local
.env.production.local

googleApis.json

# Vercel / deployments
.vercel/
.vercel_build_output/

# Logs
logs/
*.log

# Testing / coverage
coverage/
jest.coverage/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Caches
.cache/
.pnp/
.pnp.js
.pnpm-store/

# Misc
dist/
public/static/
.eslintcache